<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="CadenaDeConexionAplicacion" connectionString="Data Source=DESKTOP-2HNOC1U;Initial Catalog=Asistencias;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Plantilla_Bonita.Properties.Settings.CadenaDeConexionAplicacion"
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
